{% extends 'layout/basic.html' %}
{% block title %}All Logs{% endblock  %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <!--Filter-->
  <form class="row gx-3 gy-2 gy-md-0 mx-2 my-3">
    {{ filter.form|crispy }}
    <div class="col-12 my-1">
      <button type="submit" class="btn btn-sm btn-outline-primary">Фильтр</button>
      <a href={% url 'logs_list' %} class="btn btn-sm btn btn-outline-danger">Сброс</a>
    </div>
  </form>
  {% if object_list %}
  <!--Pagination-->
  {% include 'partials/_pagination.html' %}
  <!--Teble Items-->
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">IP</th>
        <th scope="col">Date</th>
        <th scope="col" class="text-nowrap">First request line</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-nowrap">Size (bytes)</th>
        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      {% for log in object_list %}
        <tr>
          <th scope="row" class="text-nowrap">{{ log.host }}</th>
          <td class="text-nowrap">{{ log.date|date:"d.m.Y G:i:s" }}</td>
          <td>{{ log.request_line }}</td>
          <td class="text-nowrap">{{ log.status }}</td>
          <td class="text-nowrap">{% if log.bytes %} {{ log.bytes|filesizeformat  }} {% else %} - {% endif %}</td>
          <td><a href={% url 'log_detail' log.pk %} class="btn btn-sm btn btn-outline-success">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--Pagination-->
  {% include 'partials/_pagination.html' %}
  {% else %}
    <h2>Nothing found</h2>
  {% endif %}
</div class="container">
{% endblock content %}
